.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    

}
.wrapper > aside{
    width: 150px;
    height: 250px;
    position: absolute;
    transition: 1s;
    border-radius: 2%;

}

.pink{
    background-color:pink ;  
    z-index: -1;

}
.purple{
    background-color:rgb(151, 95, 151) ;
    z-index: -2;

}
.blue{
    background-color:blue ;
    z-index: -3;

}
.lblue{
    background-color:rgb(105, 188, 216) ;
    z-index: -4;

}
.green{
    background-color: rgb(14, 90, 14);
    z-index: -5;

}
.lgreen{
    background-color: rgb(94, 238, 94);
    z-index: -6;

}
.yellow{
    background-color: yellow;
    z-index: -7;

}
.orange{
    background-color: orange;
    z-index: -8;
}
.red{
    background-color:red ;
    z-index: -9;
    
}
body:hover{

}
body{
}

body:hover .pink{
    transform: rotate(-40deg) translate(-110px, -45px);

}
body:hover .purple{
    transform: rotate(-30deg) translate(-85px, -25px);
}
body:hover .blue{
    transform: rotate(-20deg) translate(-60px, -15px);
}
body:hover .lblue{
    transform: rotate(-10deg) translate(-15px, -5px);
}
body:hover .green{
    transform: rotate(-0deg) translate(0px, -5px);
}
body:hover .lgreen{
    transform: rotate(5deg) translate(30px, -5px);
}
body:hover .yellow{
    transform: rotate(15deg) translate(60px, -20px);
}
body:hover .orange{
    transform: rotate(30deg) translate(90px, -40px);
}
body:hover .red{
    transform: rotate(40deg) translate(115px, -60px);

}
